@tailwind base;
@tailwind components;
@tailwind utilities;


#bg-dk-mode {
    background-color: #033863;
}

#bg-lgt-mode {
    background-color: #CCE6F4;
}

header li {
    padding: 2%;
    float: left;
}

.codia-yellow-text {
    color: #FFF689
}